body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d9eaf7;
    color: #333;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    background-color: #f7fcff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #3498db;
    border-radius: 10px;
}

h1 {
    margin: 0;
}

h2 {
    margin-top: 0;
    color: #3498db;
}

p {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    color: #2980b9;
}

strong {
    font-weight: bold;
}